services:
  - type: web
    name: resume-builder
    runtime: node
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: IMAGEKIT_PUBLIC_KEY
        sync: false
      - key: IMAGEKIT_PRIVATE_KEY
        sync: false
      - key: IMAGEKIT_URL_ENDPOINT
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: OPENAI_BASE_URL
        sync: false
      - key: VITE_BASE_URL
        sync: false
