services:
  - type: web
    name: resume-builder
    runtime: node
    buildCommand: cd frontend && npm install && npm audit fix && npm run build && cd ../backend && npm install
    startCommand: cd backend && npm start
    publishDir: backend
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        sync: false
      - key: MONGODB_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
      - key: IMAGEKIT_PUBLIC_KEY
        sync: false
      - key: IMAGEKIT_PRIVATE_KEY
        sync: false
      - key: IMAGEKIT_URL_ENDPOINT
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: FRONTEND_URL
        value: https://resume-builder-frontend-l6wa.onrender.com
    healthCheckPath: /health
